<div class="payment">
    <div class="payment_main">
        <h1 class="payment_main_tittle">
            Make Your <br>
            Payment More <br>
            Secure
        </h1>
        <p class="payment_main_txt">
            Id donec ultrices tincidunt arcu non.
            Integer enim neque volutpat ac tincidunt vitae semper quis.
            Arcu dui vivamus arcu felis bibendum ut tristique et.
            Nullam vehicula ipsum a arcu cursus vitae congue mauris rhoncus.
            Donec ultrices tincidunt arcu non sodales neque sodales ut etiam.
        </p>
        <button class="payment_main_btn">Pay Now</button>
    </div>
    <div class="payment_img">
        <img src="assets/PaymentsBanner.png" alt="Imagem Ilustrativa...">
    </div>
</div>