<div class="header">
    <div class="header_logo">
        <img src="assets/logo.png" alt="Logo header">
    </div>

    <ul class="header_menu">
            <li class="header_menu_item">
                <a class="header_menu_item_link" routerLink="/home">How it works</a>
            </li>
            
            <li class="header_menu_item">
                <a class="header_menu_item_link"routerLink="/payments"> Payment</a>
            </li>

            <li class="header_menu_item">
                <a class="header_menu_item_link" routerLink="/help">Help</a>
            </li>

            <li class="header_menu_item">
                <a  class="header_menu_item_link"routerLink="/blog">Blog</a>
            </li>

    </ul>

    <div class="header_actions">
        <button routerLink="/signup" class="header_actions_sign button">Sign up</button>
        <button class="header_actions_login button">Log in</button>
    </div>
</div>