<div class="home">
    <div class="home_main">
        <h1 class="home_main_tittle">
            Walcome <br>
            to home <br>
            page, discover our <br>
            services!
        </h1>
        <p class="home_main_txt">
            Id donec ultrices tincidunt arcu non.
            Integer enim neque volutpat ac tincidunt vitae semper quis.
            Arcu dui vivamus arcu felis bibendum ut tristique et.
            Nullam vehicula ipsum a arcu cursus vitae congue mauris rhoncus.
            Donec ultrices tincidunt arcu non sodales neque sodales ut etiam.
        </p>
        <button class="home_main_btn">Get Started</button>
    </div>
    <div class="home_img">
        <img src="assets/banner.png" alt="Imagem Ilustrativa...">
    </div>
</div>