.blog {
    padding: 10rem;
    color: #353535;

    &_content {
        margin-top: 4rem;
        

        &:first-child {
            margin-top: 0;
        }

        &_txt {
            margin: 1.5rem;
        }

        &_components {
            display: flex;
            flex-wrap: wrap;
            align-items: start;
            gap: 10rem;
            border-radius: 0.2rem;
            min-height: 18rem;
            height: auto;
            padding: 1rem;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
    }
}

// A tablea precisa de uma largura definida (normalmente 100%)
table {
    width: 100%;
}

// button {
//     border: none;
//     background: none;
//     cursor: pointer;
//     font-size: 2rem;

//     &:hover {
//         color: blueviolet;
//     }
// }