<div class="sign">
    <div class="sign_box">
        
        <div class="sign_box_header">
            <h1 class="sign_box_header_title">SIGN-UP</h1>
        </div>

        <div class="sign_box_main">
            
            <form class="sign_box_main_form" [formGroup]="signForm">
                <p>
                    <mat-form-field class="sign_box_main_form_input" appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Enter You Name" formControlName="nameInput">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field class="sign_box_main_form_input" appearance="outline">
                        <mat-label>Mobile Number</mat-label>
                        <input matInput placeholder="Enter You Mobile Number" formControlName="mobileNumberInput">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field class="sign_box_main_form_input" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Please Enter Your Email" formControlName="emailInput">
                    </mat-form-field>
                </p>
                
                <p>
                    <mat-form-field class="sign_box_main_form_input" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Please Enter Your Password" formControlName="passwordInput">
                    </mat-form-field>
                </p>
            </form>

            <button class="sign_box_main_button" (click)="handleClick()">Sign-up</button>
        </div>
            
    </div>
    <div class="sign_result">
        <p *ngIf="newUser"> Nome: {{ newUser.name }}</p>
        <p *ngIf="newUser"> Número: {{ newUser.number }}</p>
        <p *ngIf="newUser"> Email: {{ newUser.email }}</p>
        <p *ngIf="newUser"> Senha: {{ newUser.password }}</p>
    </div>
</div>