<div class="sign">
    <div class="sign_box">
        
        <div class="sign_box_header">
            <h1 class="sign_box_header_title">SIGN-UP</h1>
        </div>

        <div class="sign_box_main">
            
            <form class="sign_box_main_form">
                <p>
                    <mat-form-field class="sign_box_main_form_input" appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Enter You Name">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field class="sign_box_main_form_input" appearance="outline">
                        <mat-label>Mobile Number</mat-label>
                        <input matInput placeholder="Enter You Mobile Number">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field class="sign_box_main_form_input" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Please Enter Your Email">
                    </mat-form-field>
                </p>
                
                <p>
                    <mat-form-field class="sign_box_main_form_input" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Please Enter Your Password">
                    </mat-form-field>
                </p>
            </form>

            <button class="sign_box_main_button">Sign-up</button>
            
        </div>
    </div>
</div>